.app {
  background-image: url("https://images.squarespace-cdn.com/content/v1/551c0102e4b0440bd845ec0c/1577799820603-47H9NWE4D13F1WPFJ6PA/2500+px--9.jpg?format=1500w");
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
}
