.assignment {
  width: 14.75rem;
  height: 13.75rem;
  background-position: 50%;
  background-size: cover;
  margin-top: 100px;
}
.page {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.assignmentText {
  font-weight: 600;
  font-size: 1.12rem;
  color: #252424;
  margin: 0.625rem 0 0;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .page {
    width: 67%;
    margin-left: 25%;
  }
}
