.helpBox {
  background: #fff;
  border: 0;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 1.6rem 0 rgb(37 36 35 / 30%);
  font-size: 1rem;
  font-weight: 300;
  width: 13rem;
  height: 12rem;
  margin: 20rem 0 0 4rem;
}
.helpList {
  list-style: none;
  padding: 1rem;
}
.show {
  display: none;
}
