.topbar {
  background-color: #464775;
  display: flex;
}
.showText {
  display: none;
}
.teams {
  color: white;
  font-size: 122%;
  font-weight: 600;
  margin-top: 6px;
}
.logOutButton {
  background-color: white;
  color: black;
  border: none;
  margin-left: 0%;
  font-size: 12px;
  margin-top: 8px;
}
.searchbar {
  border: 0;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.3rem;
  color: #fff;
  padding: 0 3rem 0.1rem 1.2rem;
  height: 2em;
  margin-left: -12%;
  margin-top: 0.5rem;
  width: 135%;
}
input:focus,
textarea {
  outline: none !important;
}
.gridIcon {
  color: white;
  width: 25px;
  height: 25px;
  margin-top: 10px;
  margin-left: 2rem;
}
.homeIcon {
  margin-top: 10px;
  font-size: 23px;
  margin-left: 0%;
  margin-right: 12px;
  color: white;
}
.iconsCombined {
  margin-left: 23%;
}
@media screen and (max-width: 950px) {
  .iconsCombined {
    margin-left: 20%;
  }
}
@media screen and (max-width: 800px) {
  .iconsCombined {
    margin-left: 15%;
  }
}
@media screen and (max-width: 731px) {
  .teams {
    font-size: 15px;
  }
  .searchbar {
    height: 15%;
  }
}
@media screen and (max-width: 650px) {
  .iconsCombined {
    margin-left: 10%;
  }
}
@media screen and (max-width: 600px) {
  .showText {
    display: inline-block;
    font-size: 18px;
  }
  .hiddenText {
    display: none;
  }
}
@media screen and (max-width: 410px) {
  .iconsCombined {
    margin-left: 5%;
  }
}
@media screen and (max-width: 350px) {
  .logOutButton {
    margin-left: -14%;
    padding: 2px 6px;
  }
  .iconsCombined {
    margin-left: 2%;
  }
}
