.sidebar {
  margin: 0;
  padding: 0;
  width: 70px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.sidebar a {
  display: block;
  padding: 16px;
  text-decoration: none;
  font-size: 9px;
  color: #202025a9;
}
.icons {
  color: #202025a9;
  font-size: 22px;
  margin-left: 4px;
  margin-top: -15px;
}
.sidebar a:hover,
.icons:hover {
  color: #464775;
}
