.teamsButton {
  box-shadow: 0 0.2rem 0.4rem -0.075rem rgb(0 0 0 / 10%);
  background: #fff;
  border: 0;
  color: #252423;
}
.headTeams {
  font-size: 1.8rem;
  font-weight: 700;
  display: inline-block;
  line-height: 1.4286;
}
.settings {
  font-size: 20px;
  margin-right: 3rem;
}
.settingButton {
  margin-top: 10px;
  margin-left: 50rem;
}
