.calendar {
  box-sizing: border-box;
  font-size: 1rem;
  max-width: 80rem;
  margin: 0.5rem 0 0 5rem;
  line-height: 80px;
}

.calendar .header {
  background-color: #464775;
  text-align: center;
  min-height: 3rem;
  line-height: 3rem;
  color: var(--black);
  font-family: var(--font-book);
  font-weight: 700;
  color: white;
  display: flex;
}

.calendar .day-names {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.calendar .body {
  border: 1px solid white;
}

.calendar .header .previous {
  flex: 1;
  text-align: left;
  margin-left: 1rem;
  cursor: pointer;
}

.calendar .header .next {
  flex: 1;
  text-align: right;
  margin-right: 1rem;
  cursor: pointer;
}

.calendar .week {
  background-color: white;
  width: calc(100% / 7);
  margin-left: -9px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #464775;
  font-weight: 700;
}
.calendar .week div {
  width: 100%;
}

.calendar .day {
  position: relative;
  width: calc(100% / 7);
  height: 44px;
  display: inline-block;
  background-color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
}

.calendar .day div {
  width: 90px;
  height: 44px;
  position: relative;
  font-size: 15px;
  font-weight: 700;
  color: var(--black);
  z-index: 100;
  line-height: 44px;
  cursor: pointer;
}

.calendar .day div.before {
  color: var(--grey);
}

.calendar .day div.selected {
  background-color: #464775;
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
}

.calendar .day div.today {
  background-color: var(--grey);
}
